





@font-face { 
  font-family: Ed; 
  src: url('Edmondsans-Bold.otf'); 
  font-weight: bold; 
} 

@font-face { 
  font-family: Ed; 
  src: url('Edmondsans-Medium.otf'); 
  font-weight: medium; 
} 

@font-face { 
  font-family: Ed; 
  src: url('Edmondsans-Regular.otf'); 
  font-weight: normal; 
}

.Loop {
  position: relative;
  height: 980px;
  width: 22400px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

html{
  cursor: crosshair;
}
body{
  margin: 0;
  /*width: 45200px;*/
  height: 100%;
  font-family: Ed; 
  /*width: 100%;*/
  /*overflow: hidden;*/
  cursor: default;
}

::scrollbar {
  display: none;
}

a{
  color: black;
  text-decoration: none;
}

a:hover {
    color: red;
}

.home{
  position: absolute;
  width: 1800px;
  height: 100%;
}

.twobyfour{
  position: absolute;
  left: 45%;
  top: 22%; 
}

.ds3{
  position: absolute;
  top: 23%;
  left: 45%;
  width: 750px;
  height: auto;
}

.line {
  position: relative;
  /*top: 47%;
  left: 0;*/
  width: 750px;
  height: 5px;
  background-color: black;
  margin-top: 60px;
  margin-bottom: 60px;
}

.content-1{
    position: absolute;
    width: 750px;
    top: 53%;
    left: 20%;
    line-height: 150%;
    height: auto;
    font-size: 24pt;
    font-weight: bold;
    cursor: crosshair;
}

.content-2{ 
    position: absolute;
    top: 53%;
    left: 65%;
    width: 500px;
    height: auto;
    line-height: 2em;
    font-size: 12pt;
    cursor:crosshair;
}

h1{
  position: relative;  
  font-weight: bold;
}

.title-1{
}

.title-2{
    position: absolute;
    top: 35%;
    left: 8%;
    width: 900px;
    height: auto;
    font-size: 60pt;
    font-weight: bold;
    line-height: 120%;
    text-align: right;
    display: block;
    cursor: crosshair;
}

.jump{
  position: absolute;
  width: 800px;
  height: 980px;
  top: 0;
  left: 1800px;
}



/*.intro {
    position: absolute;
    width: 400px;
    height: 245px;
    top: 150px;
    left: 0px;
    background-color: orange;
}
*/
/*.pj1-intro {
    position: absolute;
    width: 3000px;
    height: 980px;
    top: 0;
    left: 1000px;
    background-color: orange;
}
*/

.head{
  font-size: 48pt;
  font-weight: bold;
  line-height: 1.1em;
}

.subhead{
  font-size: 18pt;
  font-weight: bold;
}

.pj1-intro {
  position: absolute;
  width: 400px;
  height: 880px;
  top: 0px;
  left: 2600px;
  padding:50px;
  background-color:#F9F9F9;
}

.pj1-content{
  line-height: 2em;
  font-weight: normal;
}

.pj1-1{
  position: absolute;
  width: 1200px;
  height: 100%;
  left: 3100px;
  background-image: url("../pj1-1.png");
  background-size: cover;
}

.pj1-2{
  position: absolute;
  width: 1200px;
  height: 100%;
  left: 4300px;
  background-image: url("../pj1-2.png");
  background-size: cover;
}

.pj1-p {
  position: absolute;
  width: 320px;
  height: 365px;
  top: 109px;
  left: 4845px;
  font-size: 10pt;
  padding: 40px;
  line-height: 2em;
  background-color:#F9F9F9; 
  transition: 2s;
  cursor:crosshair;

}

.pj1-3 {
  position: absolute;
  width: 477px;
  height: 445px;
  top: 109px;
  left: 5245px;
  background-image: url("../pj1-3.png");
  background-size: cover;
}

.pj1-4 {
    position: absolute;
    width: 477px;
    height: 445px;
    top: 61px;
    left: 6200px;
    background-image: url(../pj1-4.png);
    background-size: cover;
}

.pj2-intro {
    position: absolute;
    width: 400px;
    height: 758px;
    top: 61px;
    left: 6200px;
    padding:50px;
    background-color:#F9F9F9;
}

.pj2-1-1 {
    position: absolute;
    width: 1348px;
    height: 858px;
    top: 61px;
    left: 6700px;
    background-image: url(../pj2-1-1.png);
    background-size: cover;
}

.pj2-1-2 {
    position: absolute;
    width: 1750px;
    height: 858px;
    top: 61px;
    left: 8048px;
    background-image: url(../pj2-1-2.png);
    background-size: cover;
}

.pj2-1-3 {
    position: absolute;
    width: 206px;
    height: 313px;
    top: 201px;
    left: 8429px;
    background-image: url(../pj2-1-3.png);
    background-size: cover;
}

.pj2-p {
  position: absolute;
  width: 322px;
  height: 253px;
  top: 201px;
  left: 8635px;
  font-size: 8pt;
  padding: 30px;
  line-height: 2em;
  background-color:#F9F9F9; 
  transition: 2s;
  z-index: 1;
  cursor:crosshair;
}

.pj2-2-1 {
    position: absolute;
    width: 516px;
    height: 313px;
    top: 201px;
    left: 9018px;
    background-image: url(../pj2-2-1.png);
    background-size: cover;
}

.pj2-2-2 {
    position: absolute;
    width: 635px;
    height: 474px;
    top: 159px;
    left: 10079px;
    background-image: url(../pj2-2-2.png);
    background-size: cover;
}

.pj2-3-1 {
    position: absolute;
    width: 747px;
    height: 537px;
    top: 160px;
    left: 10079px;
    background-image: url(../pj2-3-1.png);
    background-size: cover;
}

.pj2-3-2 {
    position: absolute;
    width: 391px;
    height: 682PX;
    top: 130px;
    left: 11225px;
    background-image: url(../pj2-3-2.png);
    background-size: cover;
}

.pj2-3-3 {
    position: absolute;
    width: 519px;
    height: 777px;
    top: 130px;
    left: 11225px;
    background-image: url(../pj2-3-3.png);
    background-size: cover;
}

.pj3-intro {
    position: absolute;
    width: 400px;
    height: 676px;
    top: 130px;
    left: 11744px;
    padding:50px;
    background-color:#F9F9F9;
}

.pj3-1-1 {
    position: absolute;
    width: 2751px;
    height: 776px;
    top: 130px;
    left: 12244px;
    background-image: url(../pj3-1-1.png);
    background-size: cover;
}

.pj3-1-2 {
    position: absolute;
    width: 3378px;
    height: 776PX;
    top: 130px;
    left: 14995px;
    background-image: url(../pj3-1-2.png);
    background-size: cover;
}

.pj3-1-3 {
    position: absolute;
    width: 402px;
    height: 180px;
    top: 360px;
    left: 15225px;
    background-image: url(../pj3-1-3.png);
    background-size: cover;
}

.pj3-p {
    position: absolute;
    width: 123px;
    height: 150px;
    top: 360px;
    left: 15627px;
    font-size: 4pt;
    padding: 15px;
    line-height: 2em;
    background-color: #F9F9F9;
    cursor:crosshair;
}

.pj3-2-1 {
    position: absolute;
    width: 614px;
    height: 180px;
    top: 360px;
    left: 15781px;
    background-image: url(../pj3-2-1.png);
    background-size: cover;
}

.pj3-2-2 {
    position: absolute;
    width: 2478px;
    height: 629PX;
    top: 141px;
    left: 16751px;
    background-image: url(../pj3-2-2.png);
    background-size: cover;
}

.pj3-2-3 {
    position: absolute;
    width: 1495px;
    height: 628px;
    top: 142px;
    left: 16751px;
    background-image: url(../pj3-2-3.png);
    background-size: cover;
}

.pj3-3-1 {
    position: absolute;
    width: 2361px;
    height: 627px;
    top: 143px;
    left: 18246px;
    background-image: url(../pj3-3-1.png);
    background-size: cover;
}

.pj3-3-2 {
    position: absolute;
    width: 742px;
    height: 187PX;
    top: 353px;
    left: 18738px;
    background-image: url(../pj3-3-2.png);
    background-size: cover;
}

.pj3-3-3 {
    position: absolute;
    width: 2196px;
    height: 100%;
    top: 0;
    left: 20116px;
    background-image: url(../pj3-3-3.png);
    background-size: cover;
}

.pj3-3-4 {
    position: absolute;
    width: 880px;
    height: 100%;
    top: 0;
    left: 20115px;
    background-image: url(../pj3-3-4.png);
    background-size: cover;
}

.ending-p {
  position: absolute;
  width: 410px;
  height: 900px;
  top: 0;
  left: 20995px;
  padding: 50px;
  background-color: #F9F9F9; 

}

.ending-content{
    top: 7%;
    left: 0;
    width: 400px;
    height: auto;
    font-size: 12pt;
    line-height: 2em;
}

.endtitle{
    position: absolute;
    top: 35%;
    left: 10%;
    width: 885px;
    height: auto;
    font-size: 60pt;
    font-weight: bold;
    line-height: 120%;
    text-align: right;
}

.subtitle{
    position: absolute;
    top: 47%;
    left: 42.5%;
    width: 600px;
    height: auto;
    font-size: 24pt;
    font-weight: bold;
}

.info-p{
    position: absolute;
    width: 1800px;
    height: 980px;
    top: 0;
    left: 21500px;
}

.info{
    position: absolute;
    left: 70%;
    top: 58%;
    width: 300px;
    height: auto;
    font-weight: bold;
    line-height: 2em;
    text-align: left;

    transform: scale(1.3);

}

.info2{
    position: absolute;
    left: 45.2%;
    top: 58%;
    width: 300px;
    height: auto;
    font-weight: bold;
    line-height: 2em;
    text-align: left;
    transform: scale(1.3);
}


.momalogo{
    position: absolute;
    width: 250px;
    height: 100px;
    display: block;
    background-size: cover;
    top: 75%;
    left: 64.5%;
    background-image: url(../momalogo.png);
    transform: scale(0.5);
}

.logo{
    position: absolute;
    width: 250px;
    height: 200px;
    display: block;
    background-size: cover;
    top: 68.5%;
    left: 74%;
    background-image: url(../2x4logo.png);
    transform: scale(0.5);
}

.design{
  position: absolute;
  width: 400px;
  height: 900px;
  top: 0;
  left: 22450px;
  padding: 50px;
}

.credit{
    font-weight: normal;
    font-size: 12pt;
    position: absolute;
    left: 33%;
    top: 91.3%;
    width: 650px;
    height: auto;
    line-height: 2em;
    /* transition: 2s; */
    display: block;
    /* transform: scale(0.7) rotate(90deg); */
     transition: 2s; 
    opacity: 0.15;
    text-align: center;
}

.credit:hover{
  opacity: 1
}

.exit{
    position: absolute;
    font-size: 14pt;
    font-weight: bold;
    top: 5%;
    left: 95%;
    cursor: crosshair;
}
/*.credit:hover{
  opacity: 1
}*/

.transform0 {
    transform: matrix3d(-0.8, 0.2, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 0px 0px 0px;
}

.transform1{
  transform: matrix3d(1, 0.2, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 0px 0px 0px;
}

.transform2 {
    transform: matrix3d(-1, 0.1, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.52);
    transform-origin: 0px 0px 0px;
}

.transform3{
  transform: matrix3d(0.6, 0.22, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 0px 0px 0px;
}

.transform4 {
    transform: matrix3d(-1.3, 0.1, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.88);
    transform-origin: 0px 0px 0px;
}

.transform5 {
    transform: matrix3d(-1.3, 0.1, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.88);
    transform-origin: 0px 0px 0px;
}

.transform6{
  transform: matrix3d(0.3, 0.3, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 0px 0px 0px;
}

.transform7{
  transform: matrix3d(-0.5, 0.306, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 0px 0px 0px;
}

.transform8{
  transform: matrix3d(0.7, 0.3, 0, 0.001, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 0px 0px 0px;
}

.transform9{
    transform: matrix3d(-1.5, 0.83, 0, 0.0019, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 0px 0px 0px;
}

.pj1-p:hover {
    position: absolute;
    width: 320px;
    height: 365px;
    top: 276px;
    left: 4547px;
    font-size: 10pt;
    padding: 40px;
    line-height: 2em;
    background-color: #F9F9F9;
    transform: scale(2.24);
    opacity: 0.8;
} 


.pj2-p:hover {
    position: absolute;
    width: 322px;
    height: 253px;
    top: 335px;
    left: 8381px;
    font-size: 8pt;
    padding: 30px;
    line-height: 2em;
    background-color: #F9F9F9;
    transform: scale(2.75);
    opacity: 0.8;
} 

.pj3-p:hover {
    position: absolute;
    width: 123px;
    height: 150px;
    top: 429px;
    left: 15249px;
    font-size: 4pt;
    padding: 15px;
    line-height: 2em;
    transform: scale(4.32);
    opacity: 0.8;
    transition: 2s;
    z-index: 1;
  }

.page1{
  position: relative;
  height: 980px;
  width: 22400px;
}

.page2{
  position: relative;
  height: 980px;
  width: 22400px;
}





